{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
    <div class="featured-area" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 wow fadeInLeft">
                    <div class="featured-mobile">
                        <img src="{{relative}}assets/img/featured-mobile.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1 col-md-12 wow fadeInRight margin-left-30">
                    <div class="featured-right-item">
                        <div class="featured-title">
                            <h2>Features</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="featured-single-items">
                                    <div class="featured-single">
                                        <img src="{{relative}}assets/img/featured-icon1.png" alt="">
                                        <div class="featured-single-text">
                                            <h4>Voice Actions</h4>
                                            <p>Just say "Ok Google click a picture". You can also select front and rear camera based on voice.</p>
                                        </div>
                                    </div>
                                    <div class="featured-single">
                                        <img src="{{relative}}assets/img/featured-icon2.png" alt="">
                                        <div class="featured-single-text">
                                            <h4>Photo Gallery</h4>
                                            <p>Browse your local gallery inside the {{site.name}} app with folder and all photos mode. You can Copy, move and add a description to the images.</p>
                                        </div>
                                    </div>
                                    <div class="featured-single">
                                        <img src="{{relative}}assets/img/featured-icon3.png" alt="">
                                        <div class="featured-single-text">
                                            <h4>Image Editing</h4>
                                            <p>Edit images with various cool filters with optimized performance, built using OpenCV library.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="featured-single-items">
                                    <div class="featured-single">
                                        <img src="{{relative}}assets/img/featured-icon4.png" alt="">
                                        <div class="featured-single-text">
                                            <h4>Sticker Support</h4>
                                            <p>Apply different stickers - facial, express, objects, comments, wishes, emojis, hashtag</p>
                                        </div>
                                    </div>
                                    <div class="featured-single">
                                        <img src="{{relative}}assets/img/featured-icon5.png" alt="">
                                        <div class="featured-single-text">
                                            <h4>Advanced Sharing</h4>
                                            <p>Facebook, Twitter, NextCloud, OwnCloud, Imgur, Dropbox, Box, Flickr, Pinterest, Instagram, Whatsapp, and Tumblr - You name it and we have it covered.</p>
                                        </div>
                                    </div>
                                    <div class="featured-single">
                                        <img src="{{relative}}assets/img/featured-icon6.png" alt="">
                                        <div class="featured-single-text">
                                            <h4>Safe and Secure</h4>
                                            <p>{{site.name}} is Open Source. The code is always available for security reviews and can be improved by anyone.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>